.button-group {
    margin-left: 22px;
}
.card-content {
    transition: filter 0.6s;
}
.card {
    position: absolute;
    transition: transform 0.4s;
    min-width: 420px;
}
@media (max-width: 1920px) {
    .columns.is-multiline.is-mobile .column.is-one-quarter {
        width: 25%;
        padding: 12px;
        box-sizing: border-box;
    }
}

@media (max-width: 1600px) {
    .columns.is-multiline.is-mobile .column.is-one-quarter {
        width: 33.33%;
        padding: 12px;
        box-sizing: border-box;
    }
}

@media (max-width: 1200px) {
    .columns.is-multiline.is-mobile .column.is-one-quarter {
        width: 50%;
        padding: 12px;
        box-sizing: border-box;
    }
}

@media (max-width: 800px) {
    .columns.is-multiline.is-mobile .column.is-one-quarter {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
    }
}
.bid-button {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    z-index: 2;
}
.front-card-content {
    transition: filter 0.6s;
}
.card-blur {
    filter: blur(4px) grayscale(70%);
}
.custom-section {
    border: 2px solid #cfcfcf;
    border-radius: 12px;
    padding: 18px;
}
.custom-section .title {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 12px;
    margin-bottom: 18px;
}
.modal-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
.modal-card {
    border-radius: 8px;
    width: 420px;
    height: 520px;
}
.modal-card-head {
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
}
body.modal-open {
    overflow-y: hidden;
}
body {
    background-color: #3c3f45;
}
